[Unit]
Description=Dashboard Controller Backlight Service
After=librescoot-netconfig.service
After=librescoot-brightness.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/backlight-service
Restart=always
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target