[Unit]
Description=Dashboard Controller Backlight Service
ConditionPathExists=/sys/bus/iio/devices/iio:device0/in_illuminance_input

[Service]
Type=simple
User=root
Group=root
ExecStartPre=/bin/sh -c 'echo 0.1 > /sys/bus/iio/devices/iio:device0/in_illuminance_integration_time'
ExecStart=/usr/bin/backlight-service --sensor-path /sys/bus/iio/devices/iio:device0/in_illuminance_input
Restart=always
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
