[Unit]
Description=LibreScoot Settings Service
Requires=redis.service
After=redis.service
Wants=NetworkManager.service
Before=librescoot-vehicle.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/settings-service
Restart=always
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
