[Unit]
Description=LibreScoot Keycard Service
Requires=redis.service
After=redis.service
After=librescoot-vehicle.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/keycard-service -led-device /dev/i2c-2
Restart=always

[Install]
WantedBy=multi-user.target
