[Unit]
Description=Librescoot Keycard Service
Requires=valkey.service
After=valkey.service
After=librescoot-vehicle.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/keycard-service -led-device /dev/i2c-2
Restart=always

[Install]
WantedBy=multi-user.target
