# Broadcom WiFi (SDIO)
CONFIG_BRCMUTIL=m
CONFIG_BRCMFMAC=m
CONFIG_BRCMFMAC_SDIO=y

# Broadcom Bluetooth (UART)
CONFIG_BT_HCIUART_BCM=y

# RFKILL for WiFi/BT power control
CONFIG_RFKILL=y
CONFIG_RFKILL_GPIO=y
