[Unit]
Description=ScootUI Application
Documentation=https://github.com/librescoot/meta-librescoot

After=basic.target

Conflicts=scootui-qt.service
ConditionPathExists=/dev/tty0

[Service]
Environment=HOME="/data"
Environment=XDG_RUNTIME_DIR="/run/user/0"
Environment=FLUTTER_FB_DEVICE="/dev/fb1"
Environment=FLUTTER_EGL_DEVICE="/dev/dri/renderD128"
RuntimeDirectory=user/0
ExecStart=/usr/bin/flutter-fbdev-backend -b /usr/share/flutter/scootui/3.32.5/release

User=root
Group=root

WorkingDirectory=/usr/share/flutter/scootui/3.32.5/release

StandardOutput=journal
StandardError=journal

# Auto-restart on crash/quit
Restart=always
RestartSec=1

# Give scootui time to render the blackout frame before SIGKILL
TimeoutStopSec=3s

[Install]
WantedBy=multi-user.target
