[Unit]
Description=ScootUI Application
Documentation=https://github.com/librescoot/meta-librescoot

Requires=systemd-user-sessions.service
After=systemd-user-sessions.service

After=plymouth-quit-wait.service

ConditionPathExists=/dev/tty0

[Service]
Environment=HOME="/data"
Environment=XDG_RUNTIME_DIR="/run/user/0"
Environment=FLUTTER_DRM_DEVICE="/dev/dri/card0"
Environment=SCOOTUI_RESOLUTION="1024x600"
ExecStart=/usr/bin/flutter-drm-gbm-backend -b /usr/share/flutter/scootui/3.35.7/release

User=root
Group=root

WorkingDirectory=/usr/share/flutter/scootui/3.35.7/release

StandardOutput=journal
StandardError=journal

# Auto-restart on crash/quit
Restart=always
RestartSec=1

[Install]
WantedBy=graphical.target
