[Unit]
Description=ScootUI Application
Documentation=https://github.com/librescoot/meta-librescoot

Requires=systemd-user-sessions.service
After=systemd-user-sessions.service

After=plymouth-quit-wait.service

# Ensure Weston is available
Requires=weston.socket
After=weston.socket

# Since we are the main UI application, do we need this?
# Before=graphical.target

ConditionPathExists=/dev/tty0

[Service]
Environment=HOME="/data"
Environment=WAYLAND_DISPLAY="/run/wayland-0"
Environment=XDG_RUNTIME_DIR="/run/user/0"
ExecStart=/usr/bin/flutter-client -f -b /usr/share/flutter/scootui/3.27.4/release

User=root
Group=root

WorkingDirectory=/usr/share/flutter/scootui/3.27.4/release

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
