[Unit]
Description=Librescoot ECU Service
Requires=redis.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/ecu-service
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
