[Unit]
Description=Librescoot ECU Service
Requires=valkey.service
After=valkey.service
After=librescoot-vehicle.service
After=librescoot-battery.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/ecu-service
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
