SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1e0e", ENV{ID_MODEL_ID}=="9001", ENV{ID_MM_PORT_TYPE_QCDM}=="1", SYMLINK+="simtech_diag"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1e0e", ENV{ID_MODEL_ID}=="9001", ENV{ID_MM_PORT_TYPE_GPS}=="1", SYMLINK+="simtech_gps"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1e0e", ENV{ID_MODEL_ID}=="9001", ENV{ID_MM_PORT_TYPE_AT_PRIMARY}=="1", SYMLINK+="simtech_at_primary"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1e0e", ENV{ID_MODEL_ID}=="9001", ENV{ID_MM_PORT_TYPE_AT_SECONDARY}=="1", SYMLINK+="simtech_at_secondary"
SUBSYSTEM=="tty", ENV{ID_VENDOR_ID}=="1e0e", ENV{ID_MODEL_ID}=="9001", ENV{ID_MM_PORT_TYPE_AUDIO}=="1", SYMLINK+="simtech_audio"
