[Unit]
Description=Librescoot Bluetooth Service
Requires=valkey.service
After=valkey.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/bluetooth-service
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
