[Unit]
Description=Librescoot Bluetooth Service
Requires=redis.service
After=redis.service
After=librescoot-vehicle.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/bluetooth-service
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
