[Unit]
Description=Librescoot CarPlay / Android Auto Service
After=dbc-dispatcher.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/carplay-service
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
