[Unit]
Description=LibreScoot Modem Service
Requires=redis.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/modem-service -interface wwu1i5
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
