[Unit]
Description=Librescoot Modem Service
Requires=redis.service
After=redis.service dbus.service ModemManager.service
Wants=ModemManager.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/modem-service -interface wwan0
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
