[Unit]
Description=LibreScoot network configuration script
Wants=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/librescoot-netconfig

[Install]
WantedBy=multi-user.target
