[Unit]
Description=DBC Display Dispatcher
Documentation=https://github.com/librescoot/dbc-dispatcher

Requires=systemd-user-sessions.service
After=systemd-user-sessions.service

After=plymouth-quit-wait.service

Conflicts=scootui.service
ConditionPathExists=/dev/tty0

[Service]
Environment=HOME="/data"
Environment=XDG_RUNTIME_DIR="/run/user/0"
Environment=FLUTTER_DRM_DEVICE="/dev/dri/card0"
Environment=SCOOTUI_RESOLUTION="1024x600"
ExecStart=/usr/bin/dbc-dispatcher

User=root
Group=root

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
