[Unit]
Description=DBC Display Dispatcher
Documentation=https://github.com/librescoot/dbc-dispatcher

After=basic.target

Conflicts=scootui.service
ConditionPathExists=/dev/tty0

[Service]
Environment=HOME="/data"
Environment=XDG_RUNTIME_DIR="/run/user/0"
Environment=FLUTTER_DRM_DEVICE="/dev/dri/card1"
Environment=FLUTTER_FB_DEVICE="/dev/fb1"
Environment=FLUTTER_EGL_DEVICE="/dev/dri/renderD128"
RuntimeDirectory=user/0
ExecStart=/usr/bin/dbc-dispatcher

User=root
Group=root

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
