[Unit]
Description=DBC Display Dispatcher
Documentation=https://github.com/librescoot/dbc-dispatcher
DefaultDependencies=no

After=systemd-journald.socket
Conflicts=shutdown.target
Before=shutdown.target

[Service]
ExecStart=/usr/bin/dbc-dispatcher

User=root
Group=root

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
