[Unit]
Description=Librescoot UMS Service
Requires=valkey.service
After=valkey.service
After=librescoot-vehicle.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/ums-service
Restart=always
RestartSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
