CONFIG_DRM=y
CONFIG_DRM_IMX=y
CONFIG_DRM_IMX_PARALLEL_DISPLAY=y
CONFIG_DRM_PANEL=y
CONFIG_DRM_PANEL_SIMPLE=y

CONFIG_DRM_IMX_IPUV3=y
CONFIG_IMX_IPUV3_CORE=y

CONFIG_DRM_ETNAVIV=y
CONFIG_DRM_ETNAVIV_THERMAL=y

# Framebuffer console support for boot logo
CONFIG_FB=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FRAMEBUFFER_CONSOLE=y
# CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER is not set

