[Unit]
Description=Librescoot Vehicle Service
Requires=valkey.service
After=valkey.service

[Service]
Type=simple
User=root
Group=root
Nice=-10
ExecStart=/usr/bin/vehicle-service
Restart=always
KillMode=mixed

[Install]
WantedBy=multi-user.target
