[Unit]
Description=Boot Animation
DefaultDependencies=no
After=systemd-remount-fs.service
Before=multi-user.target
ConditionPathExists=/dev/fb0

[Service]
ExecStartPre=/bin/sh -c "echo 0 > /sys/class/vtconsole/vtcon1/bind"
ExecStart=/usr/bin/boot-animation /usr/share/boot-animation/animation.json --fps 25 --once --fade-ms 1000
Type=notify
NotifyAccess=main

[Install]
WantedBy=sysinit.target
