[Unit]
Description=Librescoot Boot LED Service
DefaultDependencies=no
After=systemd-modules-load.service
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/set-dbc-led green
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target