[Unit]
Description=LibreScoot manual bootup script
Wants=local-fs.target
After=local-fs.target
ConditionPathExists=/data/onboot.sh

[Service]
Type=oneshot
ExecStart=/data/onboot.sh

[Install]
WantedBy=multi-user.target
